@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@media (max-width: 768px) {
    html {
        font-size: 50%;
    }
    .page-title, .loading {
        font-size: 50%;
    }
    .movie-card-header {
        flex-wrap: wrap;
    }
    .add-card {
        margin: 0 auto;
    }
}

body {
    background-image: url(../components/filmes1.jpeg);
    background-position: center center;
    background-blend-mode: lighten;
    opacity: 1;
    background-size: cover;
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
  }
  
  .movie-card-header {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
  
  .page-title {
    color: #8B8386;
    font-size: 80px;
    font-weight: 500;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;
    text-shadow: 2px 2px 2px #000;
  }

  .link-add {
      text-decoration: none;
      margin: 0 auto;
      color: whitesmoke;
  }

  .add-card {
      display: flex;
      justify-content: flex-end;
      margin-left: 200px;
      color: whitesmoke;
      font-weight: bolder;
      letter-spacing: 4px;
      cursor: pointer;
      padding: 10px;
      border-radius: 20px;
      border: none;
      background-color: #424242;

      &:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        opacity: 0.9;
    }
  }
  
  .movie-list {
    display: flex;
    flex-flow: row wrap;
    padding: 48px 30px;
    justify-content: space-evenly;
  }
  
  .movie-card {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 450px;
    margin: 5px;
    overflow: hidden;
    width: 300px;
    margin-top: 30px;

    &:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
  }
  
  
  .movie-card-image {
    width: 100%;
  }
  
  .movie-card-body {
    flex: 1 1 auto;
    padding: 20px;
  }
  
  .movie-card-title {
    font-size: 24px;
    font-weight: 500;
    margin: 0 0 12px;
    text-align: center;
    letter-spacing: 2px;
  }
  
  .movie-card-subtitle {
    color: #6c757d;
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 8px;
    text-align: justify;
    margin-bottom: 20px;
  }
  
  .movie-card-storyline {
    font-size: 14px;
    text-align: justify;
  }
  
  .rating {
    background-color: #8B8386;
    border-radius: 25px;
    color: whitesmoke;
    font-size: 16px;
    font-weight: 700;
    padding: 6px 9px;
  }

  .star {
      margin-right: 2px;
  }
  
  .movie-card-rating {
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    display: flex;
    justify-content: flex-end;
    padding: 12px 20px;
  }
  
  .button-details {
    text-decoration: none;
    padding: 8px;
    background-color: #424242;
    border: none;
    border-radius: 20px;
    color: whitesmoke;
    cursor: pointer;
    margin-left: 80px;
    font-weight: bold;

    &:hover {
        opacity: 0.8;
    }
  }

  .movie-details {
      justify-content: center;
      align-items: center;
      background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 8px;
    flex-wrap: wrap;
    display: flex;
    height: 450px;
    margin: 0 auto;
    width: 550px;
    margin-top: 30px;

    &:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    &:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
  }

  .buttons-container {
      display: flex;
      justify-content: space-evenly;
  }

  .buttons-details {
      background-color: #424242;
      margin-left: 20px;
      border: none;
      border-radius: 20px;
      padding: 10px;
      color: whitesmoke;
      font-weight: bold;
      cursor: pointer;
  }

  .title-details {
      font-size: 20px;
      letter-spacing: 8px;
      font-family: 'Bebas Neue', cursive;
      text-shadow: 1px 1px 1px #000;
  }

  .genre-details {
      margin-right: 20px;
      font-weight: bold;
      text-transform: uppercase;
  }

  .storyline-details {
      text-align: justify;
      margin: 10px 30px 10px 30px;
  }

  .img-details {
      width: 500px;
      height: 200px;
      margin-top: 50px;
  }

  .loading {
    height: 250px;
    width: 250px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    margin-top: 250px;

  }

  .movie-form {
      background-color: whitesmoke;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 100px;
      flex-wrap: wrap;
      width: 500px;
      height: 500px;
      box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.75) inset;
      border-radius: 10px;
  }

  .validate {
    padding: 5px;
    width: 250px;
    margin: 7px;
    border-radius: 5px;
    border: 1px solid #000;
  }

  .label-form {
      font-weight: bold;
      font-family: 'Bebas Neue', cursive;
      letter-spacing: 4px;
  }

  .textarea-form {
      padding: 5px;
      width: 250px;
      height: 50px;
  }

  .button-form {
      padding: 8px 40px;
      background-color: #424242;
      margin: none;
      cursor: pointer;
      color: whitesmoke;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-weight: bold;
      border-radius: 10px;

      &:hover {
          -webkit-transform: scale(1.1);
            transform: scale(1.1);
      }
  }